@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Sizings */
    --custom-margin: 1rem;

    /* Colors */
    --code-bg-color: #f0f3f3;
    --underline-text-color: #f97316;

    /* Typography */
    --code-font-size: 0.85rem;
    --base-font-size: 1rem;
    --base-line-height: 1.5rem;
}

/* Single Post Page */

.post-content .text-base {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
}

.post-content ol,
.post-content ul {
    margin: var(--custom-margin) 0 var(--custom-margin) 20px;
    padding-left: 20px; /* Indentation */
}

.post-content ol {
    list-style-type: decimal;
}

.post-content ul {
    list-style-type: disc;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content blockquote,
.post-content a {
    margin: var(--custom-margin) 0;
}

.post-content h1 {
    font-size: 2em;
    font-weight: 700;
}

.post-content h2,
.post-content h3,
.post-content h4 {
    font-weight: 600;
}

.post-content h2 {
    font-size: 1.875rem;
}

.post-content h3 {
    font-size: 1.5rem;
}

.post-content h4 {
    font-size: 1.3rem;
}

.post-content blockquote {
    border-left: 4px solid #333;
    padding: 0.75rem 0 0.75rem 16px;
    font-style: italic;
}

.post-content a {
    color: #1a4d8f;
    text-decoration: none;
    transition: text-decoration 0.2s ease-in;
    text-underline-offset: 4px;
}

.post-content a:hover {
    text-decoration: underline;
    color: var(--underline-text-color);
}

p > code {
    margin: var(--custom-margin) 0;
    background-color: var(--code-bg-color);
    border-radius: 1rem;
    padding: 2px 5px;
}

/* codelite syntax theme */
/* Below is the theme for markdown code blocks */
pre {
    line-height: 125%;
}
.codehilite {
    background: var(--code-bg-color);
    padding: 1rem;
    border-radius: 5px;
    font-size: var(--code-font-size);
    margin-top: var(--custom-margin);
    margin-bottom: var(--custom-margin);
}
td.linenos .normal {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}
td.linenos .special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}
.codehilite .hll {
    background-color: #ffffcc;
}
.codehilite .c {
    color: #0099ff;
    font-style: italic;
} /* Comment */
.codehilite .err {
    color: #aa0000;
    background-color: #ffaaaa;
} /* Error */
.codehilite .k {
    color: #006699;
    font-weight: bold;
} /* Keyword */
.codehilite .o {
    color: #555555;
} /* Operator */
.codehilite .ch {
    color: #0099ff;
    font-style: italic;
} /* Comment.Hashbang */
.codehilite .cm {
    color: #0099ff;
    font-style: italic;
} /* Comment.Multiline */
.codehilite .cp {
    color: #009999;
} /* Comment.Preproc */
.codehilite .cpf {
    color: #0099ff;
    font-style: italic;
} /* Comment.PreprocFile */
.codehilite .c1 {
    color: #0099ff;
    font-style: italic;
} /* Comment.Single */
.codehilite .cs {
    color: #0099ff;
    font-weight: bold;
    font-style: italic;
} /* Comment.Special */
.codehilite .gd {
    background-color: #ffcccc;
    border: 1px solid #cc0000;
} /* Generic.Deleted */
.codehilite .ge {
    font-style: italic;
} /* Generic.Emph */
.codehilite .ges {
    font-weight: bold;
    font-style: italic;
} /* Generic.EmphStrong */
.codehilite .gr {
    color: #ff0000;
} /* Generic.Error */
.codehilite .gh {
    color: #003300;
    font-weight: bold;
} /* Generic.Heading */
.codehilite .gi {
    background-color: #ccffcc;
    border: 1px solid #00cc00;
} /* Generic.Inserted */
.codehilite .go {
    color: #aaaaaa;
} /* Generic.Output */
.codehilite .gp {
    color: #000099;
    font-weight: bold;
} /* Generic.Prompt */
.codehilite .gs {
    font-weight: bold;
} /* Generic.Strong */
.codehilite .gu {
    color: #003300;
    font-weight: bold;
} /* Generic.Subheading */
.codehilite .gt {
    color: #99cc66;
} /* Generic.Traceback */
.codehilite .kc {
    color: #006699;
    font-weight: bold;
} /* Keyword.Constant */
.codehilite .kd {
    color: #006699;
    font-weight: bold;
} /* Keyword.Declaration */
.codehilite .kn {
    color: #006699;
    font-weight: bold;
} /* Keyword.Namespace */
.codehilite .kp {
    color: #006699;
} /* Keyword.Pseudo */
.codehilite .kr {
    color: #006699;
    font-weight: bold;
} /* Keyword.Reserved */
.codehilite .kt {
    color: #007788;
    font-weight: bold;
} /* Keyword.Type */
.codehilite .m {
    color: #ff6600;
} /* Literal.Number */
.codehilite .s {
    color: #cc3300;
} /* Literal.String */
.codehilite .na {
    color: #330099;
} /* Name.Attribute */
.codehilite .nb {
    color: #336666;
} /* Name.Builtin */
.codehilite .nc {
    color: #00aa88;
    font-weight: bold;
} /* Name.Class */
.codehilite .no {
    color: #336600;
} /* Name.Constant */
.codehilite .nd {
    color: #9999ff;
} /* Name.Decorator */
.codehilite .ni {
    color: #999999;
    font-weight: bold;
} /* Name.Entity */
.codehilite .ne {
    color: #cc0000;
    font-weight: bold;
} /* Name.Exception */
.codehilite .nf {
    color: #cc00ff;
} /* Name.Function */
.codehilite .nl {
    color: #9999ff;
} /* Name.Label */
.codehilite .nn {
    color: #00ccff;
    font-weight: bold;
} /* Name.Namespace */
.codehilite .nt {
    color: #330099;
    font-weight: bold;
} /* Name.Tag */
.codehilite .nv {
    color: #003333;
} /* Name.Variable */
.codehilite .ow {
    color: #000000;
    font-weight: bold;
} /* Operator.Word */
.codehilite .w {
    color: #bbbbbb;
} /* Text.Whitespace */
.codehilite .mb {
    color: #ff6600;
} /* Literal.Number.Bin */
.codehilite .mf {
    color: #ff6600;
} /* Literal.Number.Float */
.codehilite .mh {
    color: #ff6600;
} /* Literal.Number.Hex */
.codehilite .mi {
    color: #ff6600;
} /* Literal.Number.Integer */
.codehilite .mo {
    color: #ff6600;
} /* Literal.Number.Oct */
.codehilite .sa {
    color: #cc3300;
} /* Literal.String.Affix */
.codehilite .sb {
    color: #cc3300;
} /* Literal.String.Backtick */
.codehilite .sc {
    color: #cc3300;
} /* Literal.String.Char */
.codehilite .dl {
    color: #cc3300;
} /* Literal.String.Delimiter */
.codehilite .sd {
    color: #cc3300;
    font-style: italic;
} /* Literal.String.Doc */
.codehilite .s2 {
    color: #cc3300;
} /* Literal.String.Double */
.codehilite .se {
    color: #cc3300;
    font-weight: bold;
} /* Literal.String.Escape */
.codehilite .sh {
    color: #cc3300;
} /* Literal.String.Heredoc */
.codehilite .si {
    color: #aa0000;
} /* Literal.String.Interpol */
.codehilite .sx {
    color: #cc3300;
} /* Literal.String.Other */
.codehilite .sr {
    color: #33aaaa;
} /* Literal.String.Regex */
.codehilite .s1 {
    color: #cc3300;
} /* Literal.String.Single */
.codehilite .ss {
    color: #ffcc33;
} /* Literal.String.Symbol */
.codehilite .bp {
    color: #336666;
} /* Name.Builtin.Pseudo */
.codehilite .fm {
    color: #cc00ff;
} /* Name.Function.Magic */
.codehilite .vc {
    color: #003333;
} /* Name.Variable.Class */
.codehilite .vg {
    color: #003333;
} /* Name.Variable.Global */
.codehilite .vi {
    color: #003333;
} /* Name.Variable.Instance */
.codehilite .vm {
    color: #003333;
} /* Name.Variable.Magic */
.codehilite .il {
    color: #ff6600;
} /* Literal.Number.Integer.Long */
